#newApp {
	body {
	    background-color: lightblue;
	}
}

#stage2 {
	body {
	    background-color: lightblue;
	}
}

#stage3 {
	body {
	    background-color: lightblue;
	}
}

#stage4 {
	body {
	    background-color: lightblue;
	}
}

#stage5 {
	body {
	    background-color: lightblue;
	}
}

#stage6 {
	body {
	    background-color: lightblue;
	}
}


