<br/>
<div class="ui bottom attached inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <a href='https://www.glassdoor.com/index.htm'|a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /|img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>
          <!-- <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a> -->
          </div>
        </div>
        <!-- <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Banana Pre-Order</a>
          </div>
        </div> -->
       <!--  <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>

        </div> -->
      </div>
    </div>
</div>
</body>
</html>