<% include head.ejs%>

    <div class="ui inverted vertical hidden masthead segment" style="padding-bottom: 1em">
        <br>
        <img class="ui centered medium image" src='https://i.imgur.com/IFOyk8I.png?1'>
        <br>
    </div>
        <div class="signIn">
            <h1 align="center" style="padding-top: 2em;"><strong>Sign in with</strong></h1>
        </div>
        <div align="center" style="padding-top: 2em;">
            <div class="ui big buttons" align="center">
                <a class="ui facebook button" href="/auth/facebook">
                    <i class="facebook icon"></i>
                    Facebook
                </a>
                <div class="or"></div>
                <a class="ui google plus button" href="/auth/google">
                    <i class="google icon"></i>
                    Google
                </a>
            </div>
        </div>
         <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>

<% include foot.ejs%>